DATABASE_URL="postgresql://postgres:your_password_here@127.0.0.1:5432/ecom_store"
JWT_SECRET="your_secret_key_here"
GMAIL_USER="your_gmail_address_here"
GMAIL_APP_PASSWORD="your_16_character_app_password_here"